body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #bbe06c;
}

header {
    background-color: #3c6e57;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #469b4c;
    padding: 10px;
    text-align: center;
}

    nav a {
        color: #fff;
        text-decoration: none;
        margin: 0 15px;
    }

section {
    padding: 20px;
}
    h2
    {
        text-align:center;
    }

.skills-list {
    list-style-type: none;
    padding: 0;
}

    .skills-list li {
        background-color: #ddd;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 5px;
    }

footer {
    background-color: #3c6e57;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
